<h1>todo list</h1>
  <% @todo.each do |todo| %>
  <h3><%= todo.title %></h3>
  <p><%= todo.body %></p>
 <span class="btn btn-info"><%= link_to "Читать далее", todo_path(todo) %></span>
<% end %>
<span class="btn btn-info"><%= link_to "Add", new_todo_path %></span>