<% provide :page_title, 'Todo list' %>
<% currently_at 'ToDos' %>
<h1>todo list</h1>
<span class="btn btn-info"><%= link_to "Add", new_todo_path %></span>

<%= render partial: 'todos/todo', collection: @todos, as: :todo %>

<%= pagination @pagy %>
