<h1>Главная страница</h1>
<% @todo.each do |todo| %>
  <div class="well">
    <h3><%= todo.title %></h3>
    <p><%= todo.body %></p>
    <%= link_to "Читать далее", todo_path(todo), :class => 'btn btn-info' %>
  </div>
<% end %>
<br>
<span class="me-1 py-1 btn btn-outline-primary"><%= link_to "Добавить", new_todo_path %></span>
