<% currently_at 'ToDos' %>

<%= render partial: 'todos/todo_text', locals: {todo: @todo} %>

<hr class='my-3'>
<h2>Добавление коментария</h2>

<%= render 'comments/form' %>

<h2 class='mt-4'>Comments</h2>

<%= render partial: 'comments/comment', collection: @comments, as: :comment, locals: {todo: @todo} %>

<%= pagination @pagy %>
