<h1><%= @todo.title %></h1>
<p><%= @todo.body %></p>
<hr>
<%= link_to "Редактировать", edit_todo_path(@todo), :class => 'btn btn-warning' %>

<%= link_to "Удалить", todo_path(@todo), method: :delete, data:{confirm: "Удалить"}, :class => 'btn btn-danger' %>
