
footer{
  width: 100%;
  padding: 0 2%;
  margin-top: 5vh;
  background: url(footer.png) repeat-x;
}

a{
  text-decoration: none;
}

#text_footer{
  color: rgba(30, 15, 87, 0.979);
}

.page{
  overflow: hidden;
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

#myBtn {
    display: none;
    position: fixed;
    right: 2rem;
    bottom: 3rem;
    border-radius: 100%;
    padding: 0.5rem;
}

#myBtn:hover {
    background-color: none; /* Add a dark-grey background on hover */
    border-radius: 100%;
}
